<!DOCTYPE html>
html(lang="ko")
    head
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JS 주요 기능</title>
    body
        include ./partials/header
        include ./partials/nav
        main
            block content
        include ./partials/footer
        script(type = "text/javascript" src="./main.js")
