@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import "reset.css";
@import "header.css";
@import "popular.css";
@import "other.css";
@import "nav.css";


* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size : 11px;
}

.body-screen {
    position : relative;
    background-color: #F8F8F8;
    width : 300px;
    height: 570px;
    border : 1px solid #ddd;
    border-radius: 20px;
    padding: 25px;
    overflow: hidden;
}

section {
    margin : 20px 0;
}

.view_more {
    color : #E54658;
    cursor : pointer;
}