

.profiles {
    position: relative;
    background-image: url("../images/road-220058_640.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}



.nav {
    position: absolute;
    background-color : white;
    width: inherit;
    height: 250px;
    bottom: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
}

.nav .profiles__img {
    position: absolute;
    width : 100px;
    height: 100px;
    border-radius: 53px;
    background-color : orange;
    left : 197px;
    top : -50px;
    border : 6px solid white;
    background-image: url("../images/man-2037255_640.jpg");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.profile {
    margin-top : 80px;
}

.profile .profile__name {
    font-size : 23px;
    font-weight: bold;
    padding-bottom: 20px;
}

.profile .profile__discript {
    color : #BDC7E4;
    padding-bottom : 20px;
}

.profile-btns {
    display : flex;
    justify-content: space-around;
}

.profile-btns__column {
    width : 180px;
    height : 60px;
    border-radius: 10px;
    line-height: 60px;
    font-weight: bold;
    cursor: pointer;
}

.follow-btn {
    background-color : #6A74FF;
    color : #EAECFF;
}

.message-btn {
    background-color : #EAECFF;
    color : #6A74FF;
}
