.chats-body {
    padding : 0;
}

.chats-body .header, .chats-body .status-bar {
    padding : 0 20px;
}

.chat-screen {
    background-image: url("../images/chat_bg.png");
    min-height: 100vh;
}

.chat__write {
    position : fixed;
    bottom : 50px;
    width: 80%;
    margin : 0 auto;
    left: 0;
    right : 0;
    display: flex;
    justify-content: space-between;
    align-items : center;
    background-color : #fcfcfc;
    padding : 0 20px;
    border-radius: 40px;
    box-shadow: 0px 8px 20px rgba(0,0,0,.2); /* 다른 사이트에서 복사해서 써도 굿 */
}

.chat__write i {
    font-size : 22px;
}

.chat__write-column:nth-child(2){
    width: 80%;
}

.chat__write-column input {
    padding: 20px 10px;
    width: 100%;
    border : none;
    font-size: 14px;
}


/* 메세지 창 - 시간 */
.chat-screen .chat__messages {
    border-top : 1px solid #f7f7f7;
    display : flex;
    flex-direction: column;
    align-items: center;
    padding : 0 20px;
    padding-top : 30px;
}

.chat__messages .chat__timestamp {
    background-color :white;
    font-size : 12px;
    padding : 5px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
      rgba(0, 0, 0, 0.024) 0px -16px 16px -6px;
    text-transform: uppercase;
    font-weight: 700;
}

/* 메세지 창 - 메세지 */
.message {
    display: flex;
    align-items: center;
    width : 50%;
}

.message .message__content {
    width : 80%;
}

.message__author {
}
.message .message__bubble {
    margin-top : 5px;
    background-color : white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -16px 16px -6px;
    padding : 10px 20px;
    border-radius: 30px;
}

.incoming-message {
    align-self: flex-start;
}
.incoming-message img {
    display: inline-block;
    width : 30px;
    border-radius: 15px;
    margin-right : 20px;
}

.sent-message {
    align-self : flex-end;
}