
/* 헤더 영역 css */
.header {
    display : flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center; /* 위아래 위치 */
}

.header .header__title {
    font-size : 24px;
    font-weight: 600;
}

.header .head__icon {
    font-size : 20px;
    margin-left : 20px;
    cursor : pointer;
}

.header .header__column {
    display: flex;
    align-items : center;
}

.header .header__back-btn {
    font-size : 22px;
    margin-right : 20px;
}