
/* 구글 폰트 import */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

@import "reset.css";
@import "status-bar.css";
@import "header.css";

/* default 속성 - 메인 css */
body {
    background-color : white;
    padding: 10px 20px;
    color : #020202;
    font-family: 'Open Sans', sans-serif;
}

a {
    color : inherit;  /* 부모요소의 색깔 가져옴 */
}