.section {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}


/* profile-info names css */
.profile-info .profile-img {
    display: inline-block;
    width : 70px;
    height: 70px;
    border-radius: 50px;

    background-image : url("../images/profile.jpg");
    background-size: 100% 100%;
    cursor: pointer;
}

.profile-info .profile-name {
    font-weight: bold;
    font-size : 21px;
    margin : 15px 0;
    color : #2698F9;
}

.profile-info .profile-location {
    font-size : 13px;
    margin : 10px 0;
}

/* profile-info btn css */
.profile-btns {
    margin : 35px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-btns div {
    width : 130px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 7px 1px #bbb;
    margin : 0 4px;
    cursor: pointer;
}

.profile-btns .profile-follow {
    background-color : white;
}

.profile-btns .profile-msg {
    background-color : #2698F9;
    color : white;
}


/* profile-db css */
.profile-db {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-size : 14px;
}

.profile-db > div {
    width : 62px;
}