article {
    background-color : rgba(240, 240, 240, 0.7);
    padding : 10px 20px;

}

.preview {
    display: flex;
    justify-content: flex-end;
    margin-bottom : 10px;
}

.preview .preview__column {

    display: inline-block;
    margin : 0 5px;
    border-radius: 10px;
    width : 50px;
    height :50px;
    background-color : #fff;
    text-align: center;
    line-height: 50px;
    background-color : #3F67FF;
    color : white;
    font-weight: bold;
}

.preview__column img {
    width : inherit;
    height: inherit;
    border-radius: 10px;
}

/* hasttag css */
.hashtag {
    display: flex;
    flex-direction: row;
}

.hashtag .hashtag__column {
    margin : 10px 10px 10px 0;
    border-radius: 15px 15px 15px 0;
    padding : 7px 10px;
    background-color : #DDE3F9;
    color : #3F67FF;
    font-size : 11px;
    font-weight: bold;
}

/* article title css */
.article__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin : 10px 0;
}

.article__name {
    font-size :30px;
    font-weight: bold;

}

.article__like {
    width : 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;

}

.article__like i {
    color : red;
}

/* article location css */
.article__location {
    margin : 10px 0;
    font-size : 14px;
}

.article__location i {
    color : #3F67FF;
}

.article__location span {
    color : #777;
}

/* article info css */
.article__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom : 10px;
}

.evaluation i {
    color : #FFBC00;
}

.evaluation span {
    margin-left : 5px;
    font-weight: bold;
}

.way {
    color : #777777;
}

/* article overview css */
.article__overview {
    margin : 20px 0;
}

.article__overview h5 {
    font-size : 11px;
    color : gray;
    margin : 10px 0;
}

.article__overview span {
    display: inline-block;
    line-height: 25px;
    color : #333;
    padding-right : 20px;
    margin-bottom : 10px;
}

.article__overview h3 {
    color : #3F67FF;
    font-weight: bold;
    margin : 5px 0;
}