@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import "reset.css";
@import "header.css";
@import "nav.css";
@import "article.css";

body {
    background-color: #E7E9EC;
    box-sizing: border-box;

}

section {
    background-image: url("../images/maldives-1993704_640.jpg");
    background-size : 100% 300px;
    background-repeat: no-repeat;
    background-color : #fff;
    margin : 20px 10px;
    border-radius: 25px;
    padding : 15px 0;
    max-width : 380px;

}


section .header, section .nav {
    margin : 0 20px;
}

